{% extends 'base.html' %}
{% load static  %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="hero-bg " style="height:100%; width:100%; margin:30px 10px 10px 10px; border-radius:50px; overflow: hidden;">
        <div class="black-g-bg" style="height:100%; width:100%;">
            <div class="container position-relative "  style="height:100%;" data-aos="zoom-in" data-aos-delay="100" >
              <div class="row align-items-end "  style="height:100%;">
                <div class="col-12 text-center mb-4 " style="" >
                <!-- <p>Best Online Platform</p> -->
                  <h1>Haldia Institue of Technology</h1>
                  <h2>We are team of talented designers making websites with Bootstrap</h2>
                </div>
              </div>
            </div>
        </div>
    </div>
  </section><!-- End Hero -->

<main>
    <section class="">
        <div class="container" style="">
            <div class="row">
                <div class="col">
                    <p>Study Materials and Notes</p>
                    <h1 class="fw-bold">Academic Resources:<span class="c-p-color"> Study Materials </span>and<span class="c-p-color"> Notes </span></h1>
                    
                  </div>
            </div>
            <div class="row mt-4">
                <div class="col me-2 " style="height:200px; border-radius:20px; background-color:#D9D9D9;">

                </div>
                <div class="col me-2" style="height:200px; border-radius:20px; background-color:#D9D9D9;">

                </div>
                <div class="col me-2" style="height:200px; border-radius:20px; background-color:#D9D9D9;">

                </div>
                <div class="col me-2" style="height:200px; border-radius:20px; background-color:#D9D9D9;">

                </div>
            </div>
        </div>
    </section>

    <!--Section 3-->
    <section class="section-bg">
        <div class="container">
        <div class="row">
            <div class="col-5">
            <h1 class="fw-bold">Explore<span class="c-p-color"> College Clubs </span>and Organizations</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <a href="#" class="c-btn">View All<i class="bi bi-arrow-right-circle ps-3"></i></a>
            </div>
            <div class="col-7">
                <svg width="695" height="537" viewBox="0 0 695 537" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="695" height="537" fill="none" />
                    <line x1="346.694" y1="293.096" x2="180.199" y2="70.5991" stroke="#141414" stroke-opacity="0.1"
                        stroke-width="2" class="line1" />
                    <line x1="346.694" y1="293.096" x2="180.199" y2="70.5991" stroke="#8336B9" stroke-width="2"
                        class="subline1 line-a1" />

                    <line x1="346.242" y1="292.987" x2="146.64" y2="215.933" stroke="#141414" stroke-opacity="0.1"
                        stroke-width="2" />
                    <line x1="346.242" y1="292.987" x2="146.64" y2="215.933" stroke="#8336B9" stroke-width="2"
                        class="subline1 line-a2" />

                    <line x1="346.659" y1="292.995" x2="70.0978" y2="320.178" stroke="#141414" stroke-opacity="0.1"
                        stroke-width="2" />
                    <line x1="346.659" y1="292.995" x2="70.0978" y2="320.178" stroke="#8336B9" stroke-width="2"
                        class="subline1 line-a3" />

                    <line x1="348.603" y1="292.732" x2="176.681" y2="452.732" stroke="#141414" stroke-opacity="0.1"
                        stroke-width="2" />
                    <line x1="348.603" y1="292.732" x2="176.681" y2="452.732" stroke="#8336B9" stroke-width="2"
                        class="subline1 line-a4" />


                    <line x1="346.295" y1="291.291" x2="543.295" y2="95.2911" stroke="#141414" stroke-opacity="0.1"
                        stroke-width="2" />
                    <line x1="346.295" y1="291.291" x2="543.295" y2="95.2911" stroke="#8336B9" stroke-width="2"
                        class="subline2 line-b1" />

                    <line x1="346.673" y1="293.208" x2="575.673" y2="214.055" stroke="#141414" stroke-opacity="0.1"
                        stroke-width="2" />
                    <line x1="346.673" y1="293.208" x2="575.673" y2="214.055" stroke="#8336B9" stroke-width="2"
                        class="subline2 line-b2" />

                    <line x1="347.033" y1="293.001" x2="624.779" y2="302.056" stroke="#141414" stroke-opacity="0.1"
                        stroke-width="2" />
                    <line x1="347.033" y1="293.001" x2="624.779" y2="302.056" stroke="#8336B9" stroke-width="2"
                        class="subline2 line-b3" />

                    <line x1="348.473" y1="291.119" x2="593.383" y2="422.436" stroke="#141414" stroke-opacity="0.1"
                        stroke-width="2" />
                    <line x1="348.473" y1="291.119" x2="593.383" y2="422.436" stroke="#8336B9" stroke-width="2"
                        class="subline2 line-b4" />

                    <line x1="347.783" y1="291.378" x2="486.783" y2="466.378" stroke="#141414" stroke-opacity="0.1"
                        stroke-width="2" />
                    <line x1="347.783" y1="291.378" x2="486.783" y2="466.378" stroke="#8336B9" stroke-width="2"
                        class="subline2 line-b5" />


                    <circle cx="346.5" cy="291.5" r="42" stroke="#141414" stroke-opacity="0.27" id="outline1" />
                    <circle cx="346.5" cy="291.5" r="42" stroke="#141414" stroke-opacity="0.27" id="outline2" />


                    <!--Main circle-->
                    <circle cx="346.5" cy="291.5" r="42" fill="url(#pattern9)" stroke="#8336B9" id="main_circle"
                        style="cursor:pointer;" />
                    <!--Image link-->
                    <defs>
                        <pattern id="pattern9" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_300_24" transform="scale(0.00277778)"/>
                            <image id="image0_300_24" width="360" height="360" xlink:href="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg"/>
                    </defs>

                    <circle cx="543.65" cy="95.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline1-a1" />
                    <circle cx="543.65" cy="95.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline1-a2" />
                    
                    <!-- Right Circle 1 -->
                    <circle cx="543.65" cy="95.65" r="29.25" fill="url(#rightimage1)" stroke="#8336B9" id="main-circle-a1" style="cursor:pointer;" />
                    <!--Image link-->
                    <defs>
                        <pattern id="rightimage1" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_300_1" transform="scale(0.00277778)"/>
                            <image id="image0_300_1" width="360" height="360" xlink:href="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg"/>
                    </defs>
                    <text x="510" y="145" fill="#000" id="svg-heading-text">HITian Inside1</text>
                    <circle cx="575.65" cy="214.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                    id="outline2-a1" />
                    <circle cx="575.65" cy="214.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                    id="outline2-a2" />

                    <!--Right Circle 2-->
                    <circle cx="575.65" cy="214.65" r="29.25" fill="url(#rightimage2)" stroke="#8336B9" id="main-circle-a2" style="cursor:pointer;" />
                    <!--Image link-->
                    <defs>
                        <pattern id="rightimage2" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_300_2" transform="scale(0.00277778)"/>
                            <image id="image0_300_2" width="360" height="360" xlink:href="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg"/>
                    </defs>
                    <text x="545" y="263" fill="#000" id="svg-heading-text">HITian Inside</text>
                    <circle cx="624.65" cy="302.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline3-a1" />
                    <circle cx="624.65" cy="302.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline3-a2" />

                    <!--Right Circle 3-->
                    <circle cx="624.65" cy="302.65" r="29.25" fill="url(#rightimage3)" stroke="#8336B9" id="main-circle-a3" style="cursor:pointer;"/>
                    <!--Image link-->
                    <defs>
                        <pattern id="rightimage3" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_300_3" transform="scale(0.00277778)"/>
                            <image id="image0_300_3" width="360" height="360" xlink:href="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg"/>
                    </defs>
                    <text x="600" y="350" fill="#000" id="svg-heading-text">HITian Inside</text>
                    <circle cx="592.65" cy="422.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline4-a1" />
                    <circle cx="592.65" cy="422.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline4-a2" />

                    <!--Right Circle 4-->
                    <circle cx="592.65" cy="422.65" r="29.25" fill="url(#rightimage4)" stroke="#8336B9" id="main-circle-a4" style="cursor:pointer;"/>
                    <!--Image link-->
                    <defs>
                        <pattern id="rightimage4" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_300_4" transform="scale(0.00277778)"/>
                            <image id="image0_300_4" width="360" height="360" xlink:href="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg"/>
                    </defs>
                    <text x="565" y="469" fill="#000" id="svg-heading-text">HITian Inside</text>
                    <circle cx="486.65" cy="466.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline5-a1" />
                    <circle cx="486.65" cy="466.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline5-a2" />

                    <!-- Right Image 5 -->
                    <circle cx="486.65" cy="466.65" r="29.25" fill="url(#rightimage5)" stroke="#8336B9" id="main-circle-a5" style="cursor:pointer;"/>
                    <!--Image link-->
                    <defs>
                        <pattern id="rightimage5" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_300_5" transform="scale(0.00277778)"/>
                            <image id="image0_300_5" width="360" height="360" xlink:href="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg"/>
                    </defs>
                    <text x="460" y="515" fill="#000" id="svg-heading-text">HITian Inside</text>
                    <circle cx="180.65" cy="69.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline1-b1" />
                    <circle cx="180.65" cy="69.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline1-b2" />

                    <!-- Left Cicle 1 -->
                    <circle cx="180.65" cy="69.65" r="29.25" fill="url(#leftimage1)" stroke="#8336B9" id="main-circle-b1" style="cursor:pointer;"/>
                    <!--Image link-->
                    <defs>
                        <pattern id="leftimage1" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_301_1" transform="scale(0.00277778)"/>
                            <image id="image0_301_1" width="360" height="360" xlink:href="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg"/>
                    </defs>
                    <text x="150" y="118" fill="#000" id="svg-heading-text">HITian Inside</text>
                    <circle cx="146.65" cy="214.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline2-b1" />
                    <circle cx="146.65" cy="214.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline2-b2" />

                    <!-- Left Cicle 2 -->
                    <circle cx="146.65" cy="214.65" r="29.25" fill="url(#leftimage2)" stroke="#8336B9" id="main-circle-b2" style="cursor:pointer;"/>
                    <!--Image link-->
                    <defs>
                        <pattern id="leftimage2" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_301_2" transform="scale(0.00277778)"/>
                            <image id="image0_301_2" width="360" height="360" xlink:href="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg"/>
                    </defs>
                    <text x="120" y="260" fill="#000" id="svg-heading-text">HITian Inside</text>
                    <circle cx="69.65" cy="317.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline3-b1" />
                    <circle cx="69.65" cy="317.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline3-b2" />

                    <!-- Left Cicle 3 -->
                    <circle cx="69.65" cy="317.65" r="29.25" fill="url(#leftimage3)" stroke="#8336B9" id="main-circle-b3" style="cursor:pointer;"/>
                    <!--Image link-->
                    <defs>
                        <pattern id="leftimage3" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_301_3" transform="scale(0.00277778)"/>
                            <image id="image0_301_3" width="360" height="360" xlink:href="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg"/>
                    </defs>
                    <text x="40" y="365" fill="#000" id="svg-heading-text">HITian Inside</text>
                    <circle cx="176.65" cy="451.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline4-b1" />
                    <circle cx="176.65" cy="451.65" r="29.25" stroke="#141414" stroke-opacity="0.27"
                        id="outline4-b2" />

                    <!-- Left Cicle 5 -->
                    <circle cx="176.65" cy="451.65" r="29.25" fill="url(#leftimage4)" stroke="#8336B9" id="main-circle-b4" style="cursor:pointer;"/>
                    <!--Image link-->
                    <defs>
                        <pattern id="leftimage4" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_301_4" transform="scale(0.00277778)"/>
                            <image id="image0_301_4" width="360" height="360" xlink:href="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg"/>
                    </defs>
                    <text x="145" y="500" fill="#000" id="svg-heading-text">HITian Inside</text>

                </svg>
            </div>
        </div>
        </div>
    </section>

    <!--Section 4 ( Event Section )-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Stay Updated</p>
                    <h1 class="fw-bold" style="margin-top:-10px"><span class="c-p-color">College Events</span> and<br>Happenings</h1>
                    <p>Don't miss out on upcoming events and enrich your college experience by joining in the celebrations.</p>
                    <a href="#" class="c-btn">View All<i class="bi bi-arrow-right-circle ps-3"></i></a>
                </div>
                <div class="col " style="background-color:#D9D9D9; border-radius:15px; padding: 0 !important;">
                    <div class="row m-3">
                        <div class="col-4" style="padding: 0 !important;">
                            <div class="" style="width:100%; height:200px; border-radius:15px; background-color:#fff">

                            </div>
                        </div>
                        <div class="col-8" style="padding-left:20px;">
                            <h1>Heading 1</h1>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt ut maiores optio voluptatem rem quisquam a nemo minima enim nisi.</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row mt-3">
                <div class="col me-2" style="background-color:#D9D9D9; border-radius:15px; padding: 0 !important;">
                    <div class="row m-3">
                        <div class="col-4" style="padding: 0 !important;">
                            <div class="" style="width:100%; height:200px; border-radius:15px; background-color:#fff">

                            </div>
                        </div>
                        <div class="col-8" style="padding-left:20px;">
                            <h1>Heading 1</h1>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt ut maiores optio voluptatem rem quisquam a nemo minima enim nisi.</p>
                        </div>
                    </div>
                </div>
                <div class="col ms-2" style="background-color:#D9D9D9; border-radius:15px; padding: 0 !important;">
                    <div class="row m-3">
                        <div class="col-4" style="padding: 0 !important;">
                            <div class="" style="width:100%; height:200px; border-radius:15px; background-color:#fff">

                            </div>
                        </div>
                        <div class="col-8" style="padding-left:20px;">
                            <h1>Heading 1</h1>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt ut maiores optio voluptatem rem quisquam a nemo minima enim nisi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--End Section 4 ( Event Section )-->
   
    <section>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h1 class="fw-bold" style="margin-top:-10px"><span class="c-p-color">Students</span> Profile</h1>
                    <p>Get to know the exceptional individuals who make up the student community at [College Name].</p>
                </div>
                <div class="col-3">
                    <a href="#" class="c-btn">View All<i class="bi bi-arrow-right-circle ps-3"></i></a>
                    <a href="#" class="c-btn mx-3"><i class="bi bi-chevron-left"></i></a>
                    <a href="#" class="c-btn"><i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
            <div class="row">
                 

                <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card">
                                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title 1</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                        card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title 2</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                        card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title 3</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                        card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title 4</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                        card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title 5</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                        card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title 6</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                        card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title 7</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                        card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title 8</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                        card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title 9</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                        card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>


            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <p>College Gallery</p>
                    <h1 class="fw-bold" style="margin-top:-10px"><span class="c-p-color">Explore Our College: </span>Captivating Visuals</h1>
                    <p>Immerse yourself in the visual journey of [College Name] through our captivating college gallery</p>
                    <a href="#" class="c-btn">View All<i class="bi bi-arrow-right-circle ps-3"></i></a>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-4 px-1">
                                <div class="col-12 mb-2" style="height:250px; width:100%; background-color:#fff;">

                                </div>
                                <div class="col-12 mb-2" style="height:150px; width:100%; background-color:#fff;">
                                    
                                </div>
                                <div class="col-12 mb-2" style="height:200px; width:100%; background-color:#fff;">
                                    
                                </div>
                        </div>
                        <div class="col-4 px-1">
                            <div class="col-12 mb-2" style="height:300px; width:100%; background-color:#fff;">

                            </div>
                            <div class="col-12 mb-2" style="height:308px; width:100%; background-color:#fff;">
                                    
                            </div>
                        </div>
                        <div class="col-4 px-1">
                            <div class="col-12 mb-2" style="height:150px; width:100%; background-color:#fff;">

                            </div>
                            <div class="col-12 mb-2" style="height:350px; width:100%; background-color:#fff;">
                                
                            </div>
                            <div class="col-12 mb-2" style="height:100px; width:100%; background-color:#fff;">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>




{% endblock content %}