{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="hero-bg " style="height:100%; width:100%; margin:30px 10px 10px 10px; border-radius:50px; background: #212529;">
    <div class="container position-relative " data-aos="zoom-in" data-aos-delay="100">
      <div class="row align-items-center ">
        <div class="col-7" style="margin-top:-110px;">
        <!-- <p>Best Online Platform</p> -->
          <h1>Learning Today,<br>Leading Tomorrow</h1>
          <h2>We are team of talented designers making websites with Bootstrap</h2>
        </div>
        <div class="col-5">
          <img src="{% static 'assets/img/hero-banner.webp' %}" alt="banner" style="height:100%; width:95%;">
        </div>
      </div>
        
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
          <p>Students</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
          <p>Courses</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
          <p>Events</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
          <p>Trainers</p>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!--Special Features Section-->
  <section  class="">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h1 class="fw-bold">Our <span class="c-p-color">Features </span><br> Special For You</h1>
          <p>Lorem Ipsum is simply dummy text of the printing</p>
          <a href="#" class="c-btn">View All<i class="bi bi-arrow-right-circle ps-3"></i></a>

        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">
              
            </div>
            <div class="col-4">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--End Special Features Section-->

  <!--Section 3-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
          <h1 class="fw-bold">Our <span class="c-p-color">Features </span><br> Special For You</h1>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          <a href="#" class="c-btn">View All<i class="bi bi-arrow-right-circle ps-3"></i></a>
        </div>
      </div>
    </div>
  </section>

  <!--Why Choose US Section -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <h1 class="fw-bold">Why Choose Us Our<br>Learning<span class="c-p-color"> Platform</span></h1>
          </div>
          <div class="row">
            <div class="col-6 my-3">
              <img src="{% static 'assets/img/profile-img.jpg' %}" alt="icon" class="rounded-circle mb-3" style="height:60px; width:60px;">
              <h2 class="fw-semibold">Heading 1</h2>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>

            <div class="col-6 my-3">
              <img src="{% static 'assets/img/profile-img.jpg' %}" alt="icon" class="rounded-circle mb-3" style="height:60px; width:60px;">
              <h2 class="fw-semibold">Heading 2</h2>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>

            <div class="col-6 my-3">
              <img src="{% static 'assets/img/profile-img.jpg' %}" alt="icon" class="rounded-circle mb-3" style="height:60px; width:60px;">
              <h2 class="fw-semibold">Heading 3</h2>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>

            <div class="col-6 my-3">
              <img src="{% static 'assets/img/profile-img.jpg' %}" alt="icon" class="rounded-circle mb-3" style="height:60px; width:60px;">
              <h2 class="fw-semibold">Heading 4</h2>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          
        </div>
      </div>
    </div>
  </section><!--End Why Choose US Section -->


  <section><!--College List Section-->
    <div class="container">
      <div class="row text-center">
        <h1 class="fw-bold">Why Choose Us Our Learning<span class="c-p-color"><br>Platform</span></h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        <div class="col-12 college-container-radius mt-4">
          <div class="row">
            <div class="col-12 college-container">

            </div>
          </div>

        </div>
      </div>
    </div>
  </section><!--End College List Section-->

  <section><!--FAQs Section-->
    <div class="container">
      <div class="row text-center">
        <h1 class="mb-2 fw-bold">Frequently Asked Questions</h1>
        <hr style="border-top: 3px solid #8224E3; margin-top: 20px; margin-bottom: 20px; width: 5%; margin:auto; boder-radius:10px;">
        <div class="col-12 mt-4">
         <div class="row">
           <div class="col-5">

           </div>
           <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="602" viewBox="0 0 17 602" fill="none">
              <path d="M8.90278 9.05991e-06C4.48451 -0.00670564 0.897349 3.56957 0.890634 7.98784C0.883919 12.4061 4.46019 15.9933 8.87847 16C13.2967 16.0067 16.8839 12.4304 16.8906 8.01216C16.8973 3.59388 13.3211 0.00672376 8.90278 9.05991e-06ZM8.01221 586C3.59393 585.993 0.00677096 589.57 5.62662e-05 593.988C-0.00665843 598.406 3.56962 601.993 7.98789 602C12.4062 602.007 15.9933 598.431 16 594.012C16.0068 589.594 12.4305 586.007 8.01221 586ZM7.39063 7.99772L6.50005 593.998L9.50005 594.002L10.3906 8.00228L7.39063 7.99772Z" fill="#8224E3"/>
            </svg>
           </div>
           <div class="col-5">

           </div>
         </div>

        </div>
      </div>
    </div>
  </section><!--End FAQs Section-->


  <section><!--College List Section-->
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </section><!--End College List Section-->



</main><!-- End #main -->



{% endblock content %}