{% extends 'base.html' %}
{% load static  %}
{% block content %}
<div class="container" style="padding-top:100px;">
    <div class="row">
        <div class="col-7" style="height:auto">
            <embed src="{% static 'assets/pdf/choosing-a-pdf-viewer.pdf' %}" frameborder="0" style="width:100%; height:80vh;"></embed>
        </div>
        <div class="col-5" style="">
            <div class="row  justify-content-center">
                <div class="col-10">
                    <div class="row align-item-center">
                        <div class="col-auto">
                            <button type="button" class="btn c-gradient"><i class="bi bi-download me-3"></i>Download PDF</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn c-gradient"><i class="bi bi-hand-thumbs-up me-3"></i><span>145</span></button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn c-gradient"><i class="bi bi-share"></i></button>
                        </div>
                    </div>
                    <h4 class="fw-semibold fs-5 my-3">Edexcel IGCSE Business Studies Notes (9-1)</h4>
                    <div class="row">
                        <div class="col-8">
                            <h5 class="fs-6 c-grey">Course Name</h5>
                            <p class="mb-0">Engineering</p>
                        </div>
                        <div class="col-4">
                            <h5 class="fs-6 c-grey">Course Code</h5>
                            <p class="mb-0">BS-E-219</p>
                        </div>
                    </div>
                    <hr class="c-hr">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="fs-6 c-grey">Institute</h5>
                            <p class="mb-0">Haldia Institute of Technology</p>
                        </div>
                    </div>
                    <hr class="c-hr">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="fs-6 c-grey">Published on</h5>
                            <p class="mb-0">25 June, 2023</p>
                        </div>
                    </div>
                    <hr class="c-hr">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="fs-6 c-grey">Description</h5>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante.</p>
                        </div>
                    </div>
                    <hr class="c-hr">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="fs-6 c-grey">Comments • <span>19</span></h5>
                            <div class="row justify-content-center" style="margin-top:20px; margin-bottom:20px">
                                <div class="col-2">
                                    <div class="" style="border-radius: 25px; height:50px; width: 50px; overflow:hidden">
                                        <img src="{% static 'assets/img/profile-img.jpg' %}" alt="" style="width:100%; height:100%; object-fit: cover; object-position: center top;">
                                    </div>
                                </div>
                                <div class="col-9 position-relative">
                                    <textarea class="form-control c-comment-box pe-5" id="exampleFormControlTextarea1" rows="3" placeholder="Add a comment..." style="border-radius:20px"></textarea>
                                    <button type="button" class="btn c-gradient mt-2 position-absolute top-0 end-0 me-4"><i class="bi bi-send"></i></button>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-2">
                                    <div class="" style="border-radius: 25px; height:50px; width: 50px; overflow:hidden">
                                        <img src="{% static 'assets/img/profile-img.jpg' %}" alt="" style="width:100%; height:100%; object-fit: cover; object-position: center top;">
                                    </div>
                                </div>
                                <div class="col-9">
                                    <h5 class="fw-semibold">Lorem ipsum <span style="font-size:14px;" class="fw-normal">  • 1 day ago</span></h5>
                                    <p class="mb-0 fs-6 c-grey">Thanks for sharing your notes! This will be so helpful for my upcoming exam
                                    </p>
                                    <hr class="c-hr">
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-2">
                                    <div class="" style="border-radius: 25px; height:50px; width: 50px; overflow:hidden">
                                        <img src="{% static 'assets/img/profile-img.jpg' %}" alt="" style="width:100%; height:100%; object-fit: cover; object-position: center top;">
                                    </div>
                                </div>
                                <div class="col-9">
                                    <h5 class="fw-semibold">Lorem ipsum <span style="font-size:14px;" class="fw-normal">  • 1 day ago</span></h5>
                                    <p class="mb-0 fs-6 c-grey">Thanks for sharing your notes! This will be so helpful for my upcoming exam
                                    </p>
                                    <hr class="c-hr">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock content %}